@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
body {
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000272;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
}

h1 {
  position: absolute;
  top: 0;
  font-size: 1000%;
  text-decoration: underline;
}

.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10.5rem;
  transform-style: preserve-3d;
}

.front {
  position: absolute;
  height: 750px;
  width: 500px;
  background-color: #341677;
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
}

.back {
  position: absolute;
  height: 750px;
  width: 500px;
  background-color: #ff6768;
  transform-origin: bottom;
  transform: rotateZ(90deg);
  transition: transform 0.5s ease-in-out;
}

.front:hover {
  transform: rotateZ(90deg);
}

.front:hover ~ .back,
.back:hover {
  transform: rotateX(0deg);
}
